{% extends "inventory/base.html" %}
{# {% set active_page = "gear-list" %} #}
{# {% from "macros.html" import gearTableDisplay with context %} #}
{# {% from "macros.html" import gearTableHeader with context %} #}
{# {% from "macros.html" import inventoryTableSimple with context %} #}


{% block title %}Gear List{% endblock %}

{% block content %}
{# {{gearTableHeader("Inventory")}} #}
{# display table for each category #}
{# {{gearTableDisplay(data, "inventory")}} #}

<h1>HEy INventory</h1>

    

    <script>
       
        
    </script>
    
{% endblock%}